html {
	background-color: #F9FEFC;
}

.calendarContentContainer {
    background-color: #8E1600;

    display: flex;

    width: 94vw;

    padding: 10px;
    margin: 0vw;

    position: absolute;

    border-radius: 10px;
}
#pdf-save {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 210mm;}
.timeMarkers {
    width: 10vw;
    height: 134vh;

    padding: 0;
    margin-top: calc(20px + 7vh);
    margin-left: 10px;
    margin-bottom: 10px;

    position: relative;
}

.timeMarker {
    background-color: #000000;
    opacity: 0.5;

    width: calc(20px + 10vh + 50vw);
    height: 2px;

    left: 10vw;

    position: absolute;
    z-index: 5;
}

.time {
    background: none;
    color: #F9FEFC;
    opacity: 1;

    width: 3vw;
    height: 1vh;

    left: -4.5vw;
    top: -0.5vh;

    margin: 0;

    text-align: right;

    position: absolute;
}

.calendar {
    background-color: #F9FEFC;

    display: flex;
    list-style-type: none;

    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
}

.calendarDay {
    text-align: center;
    color: #8E1600;

    width: 10vw;
    height: 140vh;

    padding: 1vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    position: relative;

    border-radius: 10px;
}

.dayTitle {
    height: 3vh;

    padding: 1vh;
    margin: 0;
}

.dayCourseTimeTable {
    background-color: #F0EAD6;
    text-align: left;

    height: 134vh;

    padding: 0px;
    margin: 0.5vh;

    position: relative;

    border-radius: 10px;
}

.dayCourse {
    background-color: #8E1600;
    color: #F9FEFC;

    width: 100%;

    margin: 0px;

    position: absolute;
    z-index: 10;

    border-radius: 10px;
}

.dayCourseTitle {
    padding: 5%;
}