html {
    background-color: var(--bg);
    width: 90vw;
}

.calendarTitle{
  color: var(--text);
}

/* Main container */
.calendarContentContainer {
    background-color: var(--sidebar-bg);

    display: flex;

    width: 90vw;

    padding: 10px;
    margin: 0;

    position: absolute;

    border-radius: 10px;
}

/* Time marker column */
.timeMarkers {
    width: 10vw;
    height: 134vh;

    padding: 0;
    margin-top: calc(20px + 7vh);
    margin-left: 10px;
    margin-bottom: 10px;

    position: relative;
}

/* Horizontal time lines */
.timeMarker {
    background-color: var(--text);
    opacity: 0.5;

    width: calc(20px + 10vh + 50vw);
    height: 2px;

    left: 10vw;

    position: absolute;
    z-index: 5;
}

/* Time labels */
.time {
    background: none;
    color: var(--sidebar-text);
    opacity: 1;

    width: 3vw;
    height: 1vh;

    left: -4.5vw;
    top: -0.5vh;

    margin: 0;

    text-align: right;

    position: absolute;
}

/* Calendar grid */
.calendar {
    display: flex;
    list-style-type: none;

    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 10px;

    width: 70vw;
}

/* Each day column */
.calendarDay {
    text-align: center;
    background-color: var(--sidebar-bg);

    width: 10vw;
    height: 140vh;

    padding: 1vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    position: relative;

    border-radius: 10px;
}

/* Day title */
.dayTitle {
    height: 3vh;
    color: var(--sidebar-text);

    padding: 1vh;
    margin: 0;
}

/* Course container inside each day */
.dayCourseTimeTable {
    background-color: var(--code-bg);
    text-align: left;

    height: 134vh;

    padding: 0px;
    margin: 0.5vh;

    position: relative;

    border-radius: 10px;
}

/* Course block */
.dayCourse {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);

    width: 100%;

    margin: 0px;

    position: absolute;
    z-index: 10;

    border-radius: 10px;
}

/* Course title text */
.dayCourseTitle {
    padding: 5%;
}

/* Remove button */
.removeButton {
    background-color:  var(--sidebar-text);
    color: var(--accent);

    border: none;
    border-radius: 6px;

    width: 80%;
    margin: 5% 10%;
    padding: 5px;

    cursor: pointer;
    font-weight: bold;
}

.removeButton:hover {
    background-color: var(--accent-border);
}
